body {
	background: var(--light-brown) url(../img/fundo.png) repeat fixed center;
}
#principal{
	width: 1000px;
	display: block;
	margin: auto;
}
#capa {
	width: 1000px;
}
#menu {
	background-color: var(--menu-color);
	padding: 18px;
	text-align: center;
	color: var(--menu-letter);
	font-weight: bold;
	font-size: 18px;
}
.page {
	color: var(--menu-letter);
	text-decoration: none;
	padding: 5px;
	font: bold 18px Verdana, Helvetica, sans-serif;
}
.content {
	background-color: var(--light-beige);
	padding: 10px;
	text-align: justify;
	align-content: justify;
}
h3 {
	color: var(--green-tittle);
	font: bold 18px Verdana, Helvetica, sans-serif;
}
p {
	color: var(--black-letter);
	text-align: justify;
	font: normal 16px Arial, Verdana, sans-serif;
}
.photoshoot {
	border: 10px double var(--beige);
}
#footer {
	color: gray;
	text-align: center;
	font: bold 13px "Times New Roman", Georgia, serif;
}
#form {
	font: normal 16px Verdana, Helvetica, sans-serif;
	text-align: left;
	color: var(--green-tittle);
	width: 970px;
	padding: 4px;
	align-items: center;
	
}
label {
	display: inline-block;
	width: 100px;
	padding: 7px;
}
input, textarea, select, option {
	font: 1em Helvetica, Verdana, sans-serif;
	padding: 3px;
	border-radius: 3px;
	border: 3px solid var(--beige);
	background-color: var(--light-beige);
}
select, option {
	text-align: left;
	width: 958px;
}
input:focus, textarea:focus {
	border-radius: 6px;
}
.name, .email {
	display: inline-block;
	width: 475px;
	text-align: left;
}
.name-in, .email-in {
	width: 465px;
}
.button {
	width: 900px;
	padding: 7px;
	display: block;
	margin: auto;
}
button {
	display: block;
	margin: auto;
	width: 250px;
	font: 1em Arial, Verdana, sans-serif;
	background-color: var(--light-beige);
	border: 3px solid var(--beige);
}
#contact {
	font: normal 14px Arial, Verdana, sans-serif;
	color: var(--black-letter);
	text-align: center;
	align-items: center;
	padding: 6px;
}